src/soap/escola.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EscolaService"
             targetNamespace="http://www.exemplo.com/escola"
             xmlns:tns="http://www.exemplo.com/escola"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema
      targetNamespace="http://www.exemplo.com/escola"
      xmlns="http://www.exemplo.com/escola"
      elementFormDefault="qualified">

      <xsd:element name="MatricularAlunoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="alunoId" type="xsd:int"/>
            <xsd:element name="nome" type="xsd:string"/>
            <xsd:element name="aulaId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="MatricularAlunoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mensagem" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListarAlunosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="aulaId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListarAlunosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="alunos" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="alunoId" type="xsd:int"/>
                  <xsd:element name="nome" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="MatricularAlunoRequest">
    <part name="parameters" element="tns:MatricularAlunoRequest"/>
  </message>

  <message name="MatricularAlunoResponse">
    <part name="parameters" element="tns:MatricularAlunoResponse"/>
  </message>

  <message name="ListarAlunosRequest">
    <part name="parameters" element="tns:ListarAlunosRequest"/>
  </message>

  <message name="ListarAlunosResponse">
    <part name="parameters" element="tns:ListarAlunosResponse"/>
  </message>

  <portType name="EscolaPortType">
    <operation name="matricularAluno">
      <input message="tns:MatricularAlunoRequest"/>
      <output message="tns:MatricularAlunoResponse"/>
    </operation>
    <operation name="listarAlunosPorAula">
      <input message="tns:ListarAlunosRequest"/>
      <output message="tns:ListarAlunosResponse"/>
    </operation>
  </portType>

  <binding name="EscolaBinding" type="tns:EscolaPortType">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="matricularAluno">
      <soap:operation soapAction="matricularAluno"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="listarAlunosPorAula">
      <soap:operation soapAction="listarAlunosPorAula"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="EscolaService">
    <port name="EscolaPort" binding="tns:EscolaBinding">
      <soap:address location="http://localhost:8000/escola"/>
    </port>
  </service>
</definitions>
